h1, h2, h3, p, a, table, ol, figcaption, caption, ul{
    font-family: "Helvetica", "Arial", sans-serif;
}

/*
#f0f5f9
#c9d6de
#52616a
#1e2022*/

.navbar {
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    background-color: #52616a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 10%;
    z-index: 3000;
}

.name_logo{
    float: left;
    display: flex;
    margin-left: 5%;
}

.team_name{
    float: right;
    display: block;
    color: #f0f5f9;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 40px;
    z-index: 2000;
}

.navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    background-color: #52616a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    padding: 0; 
}

.navbar_button {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100%; 
}

.navbar_button a {
    padding: 28px; 
    color: #f0f5f9;
    text-decoration: none;
    font-size: 24px;
}


.navbar_button a:hover {
    color: #c9d6de;
}

.main{
    padding: 16px;
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
}

.main *:not(.background) {
    position: relative;
    z-index: 1; 
}

.main .background{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #f0f5f9;
    opacity: 0.2;
    z-index: -1;
}

.space{
    opacity: 0;
    width: 100%;
    height: 4em;
}

h1, h2{
    text-align: center;
    margin-top: 75px;
}

h3{
    text-align: center;
    margin-top: 50px;
}

p, table, ol, figcaption, a, ul{
    font-size: 20px;
}

img{
    display: block;
    margin: auto;
}